.navDisplayFlex {
  display: flex;
  justify-content: space-between;
}

.linkText {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.linkItem {
  display: inline-block;
}

.navbarDisplayFlex {
  display: flex;
  justify-content: space-between;
}